.section {
  padding: 15px 20px;
}
.movieWrapper {
  display: flex;
}
.imgWrapper {
  width: 20%;
  margin-right: 50px;
}
.movieDescription {
  width: 75%;
}
.movieTitle {
  margin-bottom: 5px;

  font-size: 30px;
}
.userScore {
  margin-bottom: 20px;
}
.overviewTitle {
  margin-bottom: 5px;
}
.overview {
  margin-bottom: 20px;

  line-height: 1.4;
}
.genresTitle {
  margin-bottom: 5px;
}
.genres {
  list-style-type: disc;
}
.addtionalInfo {
  margin-bottom: 10px;

  text-align: center;
}
.detailsNav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.detailsItem:not(:last-child) {
  margin-right: 15px;
}
.detailsLink {
  box-sizing: border-box;
  padding: 5px 15px;

  color: rgb(138, 138, 138);
}
.detailsLink:hover,
.detailsLink:focus {
  color: #000;
}
.detailsLink__active {
  composes: detailsLink;

  color: #000;
  border: 1px solid rgb(117, 117, 117);
}
