.message {
  margin-top: 50px;
  margin-bottom: 50px;

  text-align: center;

  animation: animMessage 2s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1;
}

@keyframes animMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
